* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: Poppins;
}

main hr {
    border: 0;
    height: 1.2px;
    background-color: #9c97f1;
    margin: 60px 84px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(18, 18, 62);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(128, 128, 202);
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 130px 0;
    align-items: center;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 2.5rem;
}

.buttons {
    display: flex;
    margin-top: 8px;
}

.leftSection .resume {
    padding: 12px;
    background: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.leftSection .resume:hover {
    padding: 12px;
    background: white;
    color: #1e2167;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
    transition: 1s;
}

.leftSection .github {
    padding: 12px;
    background: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}

.leftSection .github:hover {
    padding: 12px;
    background: white;
    color: #1e2167;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    transition: 1s;
}

.buttons a {
    text-decoration: none;
}

.rightSection img {
    width: 80%;
}

.purple {
    color: rgb(119, 31, 202);
}

#element {
    color: rgb(119, 31, 202);
}


/*
.aboutMe {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
} */

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.secondSection h1 {
    font-size: 1.9rem;
}

.text-gray {
    color: gray;
}

.secondSection .box {
    background-color: white;
    height: 2px;
    margin: 60px 0;
    display: flex;
}

.secondSection .vertical {
    height: 93px;
    background-color: white;
    width: 1px;
    margin: 0 200px;
}

.image_top {
    width: 40px;
    position: relative;
    top: -48px;
    left: -21px;
}

.vertical-title {
    width: 150px;
    position: relative;
    top: 75px;
}

.vertical-desc {
    position: relative;
    color: gray;
    width: 150px;
    top: 86px;
    font-size: 9px;
}

footer {
    /* background: linear-gradient(to right, blue, red); */
    height: 232px;
    /* position: relative; */
}

.footer-circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    /* background: linear-gradient(to right, red, pink); */
    /* position: absolute;
    bottom: 75%; */
}

.footer-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.follow-us {
    width: 140px;
    height: 100px;
    margin-top: 22px;
}

.follow-us-details {
    width: 180px;
    height: 100px;
    padding-top: 22px;
}

.follow-us-details a {
    color: white;
    text-decoration: none;
}

.link-details {
    width: 180px;
    height: 100px;
}

.aboutMe {
    width: 90%;
    height: 70vh;
    text-align: center;
    margin: 40px 75px 40px 75px;
}

.aboutMe h1 {
    margin-bottom: 20px;
    margin-top: -35px;
}

.intro {
    width: 40%;
    text-align: left;
    float: left;
}

.profilePic {
    width: 40%;
    float: right;
    margin-right: -21px;
}

.contactMe {
    padding: 12px;
    background: goldenrod;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 14px;
}

.contactMe:hover {
    padding: 12px;
    background: white;
    color: goldenrod;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    transition: 1s;
    margin-top: 14px;
}

.circle-image {
    width: 500px;
    /* Adjust the width as needed */
    height: 500px;
    /* Adjust the height as needed */
    border-radius: 50%;
    /* Makes the image circular */
    object-fit: cover;
    /* Keeps the image proportions and hides any overflow */
}